* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 1000px;
  border: 1px solid red;
  position: relative;
}

.box {
  width: 7rem;
  height: 7rem;
}

.container {
  position: relative;
  top: 100px;
  width: 500px;
  left: 200px;
  background-color: burlywood;
 


}

.box1 {
  background-color: darkseagreen;
  border: 1px solid rgb(114, 158, 247);
  position: absolute;
  top: 30px;
  left: 50px;
}

.box2 {
  background-color: indianred;
  border: 1px solid darkkhaki;
  position: relative;
  top: 70px;
}
